
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Press+Start+2P&display=swap');

body {
    margin: 0;
   background-color: #282226;
   font-family: "Press Start 2P", system-ui;
   color: #F7FFF7;
}

p{
    line-height: 1.5;
}


h1, h2 {
    color: #ecf0f5;
    font-size: 2em;
    
} 

header{
    padding: 40px;
    text-align: center;
    background-color: #282226;

}

main{
    padding: 30px;
    margin: 0 auto;

}

section{
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: #4f524d;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #282226;
}
p, ul, li{ 
    font-family: "Aldrich", sans-serif;
    font-size: 12
}

nav{
text-align: center;

}